.container {
    width: 1280px;
    margin: 0 auto;
}

.container-header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-pagination {
    bottom: 20px !important;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 6px !important;
    background: white;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 5px;
    background: #facc15;
    opacity: 1;
}

@media only screen and (max-width: 1280px) and (min-width: 280px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .container-header {
        width: 100%;
        padding: 0 20px;
    }

    .container-footer {
        width: 100%;
        padding: 0 20px;
    }
}