@import "tailwindcss";

@theme {
    --color-primary: #2563eb;
    --color-secondary: #ef4444;
    --color-tertiary: #f59e0b;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.container-header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1280px) and (min-width: 280px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .container-header {
        width: 100%;
        padding: 0 20px;
    }
    .container-footer {
        width: 100%;
        padding: 0 20px;
    }
}