<section id="certificaciones" class="py-15 bg-white" data-aos="fade-in" data-aos-delay="200">
    <div class="max-w-6xl mx-auto text-center px-6">
        <h2 class="text-3xl font-bold text-text mb-10" data-aos="fade-in" data-aos-delay="200">
            Certificaciones y Clientes
        </h2>
        <div class="flex flex-wrap justify-center gap-10 text-text" data-aos="fade-in" data-aos-delay="400">
            <div
                class="w-40 h-20 flex items-center justify-center bg-white shadow rounded-lg font-semibold text-primary"
            >
                MTC
            </div>
            <div
                class="w-40 h-20 flex items-center justify-center bg-white shadow rounded-lg font-semibold text-primary"
            >
                Petroperú
            </div>
            <div
                class="w-40 h-20 flex items-center justify-center bg-white shadow rounded-lg font-semibold text-primary"
            >
                Municipalidades
            </div>
        </div>
    </div>
</section>