<section
    id="cobertura"
    class="py-15 bg-primary text-text"
    data-aos="fade-in"
    data-aos-delay="200"
>
    <div class="container text-center px-6">
        <h2 class="text-3xl text-white font-bold mb-8" data-aos="fade-in" data-aos-delay="200">Cobertura a nivel nacional</h2>
        <p class="max-w-3xl mx-auto mb-6" data-aos="fade-in" data-aos-delay="400">
            Realizamos envíos de asfalto y emulsiones bituminosas a todas las
            regiones del Perú: Lima, Arequipa, Cusco, Piura, Trujillo, Puno, y
            más.
        </p>

        <a href="#contacto" data-aos="fade-in" data-aos-delay="600" class="text-lg py-2 px-4 font-semibold hover:text-white transition border-black border rounded-full hover:border-white hover:text-white max-[980px]:w-[150px] max-[980px]:text-sm">
            ¡Llegamos donde tu proyecto nos necesite!
        </a>
    </div>
</section>