<footer class="bg-text">
	<div class="container-footer">
		<div class="flex flex-col w-full">
			<div class="flex justify-between align-center flex-row gap-10 py-10 max-[980px]:flex-col max-[980px]:w-full">
				<div class="flex justify-between md:flex-row md:items-center max-[980px]:gap-6">
					<div class="flex flex-col w-[33%] max-[980px]:w-[50%]">
						<h3 class="text-2xl font-semibold text-primary mb-6" data-aos="fade-in" data-aos-delay="200">T - ASFALTO</h3>
						<p data-aos="fade-in" data-aos-delay="300" class="text-white">
							Venta de Asfalto RC-250 y MC-30 en Lima y todo el
							Perú.
						</p>
					</div>
					<div class="flex flex-col w-[33%] max-[980px]:w-[50%]">
						<h4 class="text-2xl font-semibold text-primary mb-6" data-aos="fade-in" data-aos-delay="400">Contáctanos</h4>
						<p data-aos="fade-in" data-aos-delay="500" class="text-white"><strong>Tel:</strong> +51 999 888 777</p>
						<p data-aos="fade-in" data-aos-delay="600" class="text-white"><strong>Email:</strong> ventas@t-asfalto.pe</p>
						<p data-aos="fade-in" data-aos-delay="700" class="text-white"><strong>Dirección:</strong> Lima, Perú</p>
					</div>
				</div>
				<div class="flex flex-col w-[33%] max-[980px]:w-full max-[980px]:flex-col max-[980px]:justify-center max-[980px]:items-center max-[980px]:gap-2">
					<h4 class="text-2xl font-semibold text-primary mb-6" data-aos="fade-in" data-aos-delay="800">Síguenos</h4>
					<p data-aos="fade-in" data-aos-delay="900" class="text-white"><a href="#">Facebook</a></p>
					<p data-aos="fade-in" data-aos-delay="1000" class="text-white"><a href="#">Instagram</a></p>
				</div>
			</div>
			<div class="w-full border-t border-white/50">
				<p class="text-center py-3 text-white">
					© {new Date().getFullYear()} T-Asfalto. Todos los derechos reservados.
				</p>
			</div>
		</div>
	</div>
</footer>