<section id="ventajas" class="py-15 bg-white" data-aos="fade-in" data-aos-delay="200">
    <div class="max-w-6xl mx-auto px-6 text-center">
        <h2 class="text-3xl font-bold text-text mb-12" data-aos="fade-in" data-aos-delay="500">
            ¿Por qué elegirnos?
        </h2>
        <div class="grid md:grid-cols-3 gap-10" data-aos="fade-in" data-aos-delay="400">
            <div
                class="p-6 bg-white rounded-2xl shadow hover:shadow-lg transition"
            >
                <h3 class="text-xl font-semibold text-text mb-2" data-aos="fade-in" data-aos-delay="200">
                    Entrega rápida
                </h3>
                <p class="text-text" data-aos="fade-in" data-aos-delay="400">
                    Contamos con flota propia para distribuir asfalto a todo el
                    Perú sin demoras.
                </p>
            </div>
            <div
                class="p-6 bg-white rounded-2xl shadow hover:shadow-lg transition"
            >
                <h3 class="text-xl font-semibold text-text mb-2" data-aos="fade-in" data-aos-delay="600">
                    Productos certificados
                </h3>
                <p class="text-text" data-aos="fade-in" data-aos-delay="800">
                    Cumplimos con los estándares del MTC y garantizamos calidad
                    en cada lote.
                </p>
            </div>
            <div
                class="p-6 bg-white rounded-2xl shadow hover:shadow-lg transition"
            >
                <h3 class="text-xl font-semibold text-text mb-2" data-aos="fade-in" data-aos-delay="1000">
                    Asesoría técnica
                </h3>
                <p class="text-text" data-aos="fade-in" data-aos-delay="1200">
                    Brindamos soporte profesional para obras viales,
                    pavimentación y sellado.
                </p>
            </div>
        </div>
    </div>
</section>
