<section id="opiniones" class="py-15 bg-gray-50" data-aos="fade-in" data-aos-delay="200">
    <div class="max-w-6xl mx-auto text-center px-6">
        <h2 class="text-3xl font-bold mb-10 text-text" data-aos="fade-in" data-aos-delay="200">
            Opiniones de nuestros clientes
        </h2>
        <div class="grid md:grid-cols-3 gap-8" data-aos="fade-in" data-aos-delay="400">
            <div class="p-6 bg-gray-50 rounded-xl shadow" data-aos="fade-in" data-aos-delay="200">
                <p class="italic text-text mb-3" data-aos="fade-in" data-aos-delay="200">
                    “Excelente atención y entrega puntual. El asfalto RC-250
                    llegó en perfectas condiciones.”
                </p>
                <p class="font-semibold text-primary" data-aos="fade-in" data-aos-delay="600">– Constructora San Miguel</p>
            </div>
            <div class="p-6 bg-gray-50 rounded-xl shadow" data-aos="fade-in" data-aos-delay="800">
                <p class="italic text-text mb-3" data-aos="fade-in" data-aos-delay="200">
                    “Muy buena calidad, y el soporte técnico nos ayudó bastante
                    en la aplicación.”
                </p>
                <p class="font-semibold text-primary" data-aos="fade-in" data-aos-delay="800">– Ingeniería Vial Perú</p>
            </div>
            <div class="p-6 bg-gray-50 rounded-xl shadow" data-aos="fade-in" data-aos-delay="1000">
                <p class="italic text-text mb-3" data-aos="fade-in" data-aos-delay="1000">
                    “Servicio confiable y rápido, los recomendamos totalmente.”
                </p>
                <p class="font-semibold text-primary" data-aos="fade-in" data-aos-delay="1200">
                    – Municipalidad de Trujillo
                </p>
            </div>
        </div>
    </div>
</section>
